
/* GENERAL STYLES */
body {
    background-color: rgb(126, 182, 255);
}

.flipper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50vh;
    border-radius: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    margin-left: 15%;
    margin-right: 15%;
}

.col-lg-6 {
    padding-top: 25vh;
}

ul {
    display: none;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3vh;
}





@media screen and (max-width: 600px) {

}

@media screen and (max-height: 800px) {
    h2 {
        padding-top: 10vh;
    }
}